@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

:root {
    --primary-color: hsl(193, 38%, 86%);
    --secondary-color: hsl(150, 100%, 66%);

    --background-color: hsl(217, 19%, 24%);
    --card-color: hsl(217, 19%, 38%);
    --separator-color: hsla(216, 10%, 19%, 0.349);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-sizing: 0;
    margin: 0;
    padding: 0;
    font-size: 28px;
    color: var(--primary-color);
    font-family: 'Manrope', sans-serif;
    background-color: var(--background-color);
    height: 100vh;
}

.wrapper {
    max-width: 800px;
}

.card {
    background-color: var(--card-color);
    max-height: 800px;
    max-width: 800px;
    min-width: 350px;
    border-radius: 15px;
    position: relative;
    margin: 50px 20px;
}

.quote {
    margin: 40px;
    padding-bottom: 150px;
    font-weight: 800;
}



h1 {
    font-size: 18px;
    color: var(--secondary-color);
    padding-top: 50px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 6px;
}

.card::before {
    content: '';
    max-width: 50%;
    margin: 0 auto;
    border: 2px solid var(--primary-color);
    opacity: 0.5;
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
  }

  .card::after {
      content: '\f7a5';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: var(--primary-color);
      position: absolute;
      bottom: 8%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      background-color: var(--card-color);
      
  }

.btn-generator {
    border: none;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
    cursor: pointer;
}

.btn-generator:hover {
    box-shadow: 0 0 30px var(--secondary-color);
}

.fa-dice-five {
    font-size: 40px;
}